/*this is a comment line
* another line
*/
@import url('https://fonts.googleapis.com/css?family=Sansita:400i');
@import url('https://fonts.googleapis.com/css?family=VT323');

header,form{
  background-color:azure;
}
html,body {
  background-color: yellow; /*#3B444B;*/
}
h1 {
  font-family: 'Sansita', monospace;
  font-style: oblique;
  text-align: center;
}
figcaption{
  font: bold 16px Georgia;
  text-align: center;
  color: blue;
}
#main-page-nav{
  font-size: 18px;
  font-family: sans-serif;
  font-style: oblique;
}

.form {
  font-family:Georgia , monospace;
}

.chloe-article{
  color: black;
  font-size: 20px;
  text-align: center;
  font-family: 'Sansita';
  margin: 0 auto;
  width: 60%;
  padding-bottom: 40px
}

#social-ul{
  color: white;
  font-size: 16px;
}

#article{
  padding: 20px;
  background: rgba(255,255,255,.85);
}
img{
  border: 1px solid black;
  max-width: 100%;
  width: 100%;
  height: auto;
}

a:link{
  color: blue;
}
a:visited{
  color: purple ;
}
a:active{
  color: red;
}
