/*this is a comment line
* another line
*/

html,body {
  background-color: #3B444B;
}
h1 {
  font-family: Arial;
  font-style: oblique;
}

#main-page-nav{
  font-size: 150%;
  font-family: sans-serif;
  font-style: oblique;
}

.form {
  font-family: monospace;
}

.chloe-article{
  font-size: 125%;
  text-align: center;
}

img{
  border: 1px solid black;
}

a:link,a:visited{
  color: blue;
}

a:hover{
  color: black;
}

a:active{
  color: red;
}
