<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.css">
  <link rel="stylesheet" href="css/style.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <title>ABOUT</title>
</head>

<body>
  <header>
    <h1>Empty For Now</h1></header>

  <nav id="main-page-nav">
    <a href="index.html">
      <div id="button-box">Main</div>
    </a>
    <a href="chloe-bennet.html">
      <div id="button-box">Chloe Bennet</div>
    </a>
    <a href="contact.html">
      <div id="button-box">Contact</div>
    </a>
    <a href="about.html">
      <div id="button-box">About</div>
    </a>
  </nav>

  <br><br><br><br>
  
  <div ng-app="">
    <input type="text" ng-model="name">
    <div> Hello {{name}}</div>
    <div data-ng-bind="name"></div>
    <div ng-init="myFavLan = [{name :'Java' , extension :'.java'},
      {name:'JavaScript' , extension :'.js'},{name : 'C',extension:'.c'}]">
      </div>
    <div ng-repeat="lan in myFavLan">
      <br> Name      : {{lan.name}} <br>
      Extension : {{lan.extension}} <br>
     </div>
  </div>
</body>

</html>